body{
    margin:0;
    padding:0;
}
.logo img{
    height: 50px;
    width: 20%;
    margin-left:5% ;
}
.buy_now{
    height: 30px;
    width: 15%;
    background-color: #83b440;
    color: white;
       
}
.buy_now:hover {
    background-color: #6e9f29;  
    color: white; 
}
 @media (max-width: 667px) {
        body{
            width: 100%;
            overflow-x: hidden;
        }
        .flat_50{
            display: none;
        }
        .main{
            height: 50px;
            width: 100%;
            margin: 0;
        }
        .buy_now{
            width: 18%;
            margin-top: -80px;
        }
    }

    /* search bar */

    @media (max-width: 667px){
        .dropdown{
            display: none;
        }
        .dark_logo{
            padding: 15px;
            
        }
    }
.dark_logo img{
    height: 35px;
    width: 65%;    
}
.search_bar{
    height: auto;
    width: 100%;
    background-color: #eff4f7;
    display: flex;
    align-items: center;
}
@media (max-width: 667px){
    .search_bar{
            background-color: #ffffff;
        }
}
.menu{
    height: 60px;
    width: 100%;
    background-color: white;
    color: #6e696d;
    display: flex;
    align-items: center;
    font-weight: 500;
}
/* hero section */
.hero{
    height: auto;
    width: 100%;
    background-color:#eff4f7 ;
    padding-top: 120px;
    padding-bottom: 130px;
}
.hero h1 span {
    font-weight: 400;
    color: #4b5966;
    font-size: 60px;
    font-family: Quicksand;
}
/* .quality span{
    font-size: 60px;
    font-weight: bolder;
    color: green;
} */
 h1 .quality {
  
  color: #538b99 !important;
  font-weight: bolder !important;
  line-height: 80px !important;
}
.hero p {
    margin-bottom: 15px;
    color: #808c8c;
   
}

p {
    font-size: 15px;
    line-height: 28px;
    font-weight: 400;
    letter-spacing: 0.02rem;
    font-family: 'Poppins',sans-serif;
}
.sp-btns{
    margin: -5px;
    display: flex;
}
.sp-btn-3{
    transition: all 0.3s ease-in-out;
    height: 40px;
    color: #fff;
    padding: 10px 15px;
    font-size: 14px;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0.03rem;
    background: #4b5966;
    cursor: pointer;
    border-radius: 10px;
    position: relative;
    display: inline-block;
    outline: none;
}
.hero .sp-btns a {
    margin: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
a{
    text-decoration: none;
}
.hero .sp_info ul {
    margin-left: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
ul {
    margin: 0;
    padding: 0;
}
.hero .sp_info ul li {
    
    transition: all 0.3s ease-in-out;
    width: 60px;
    height: 60px;
    margin-left: -20px;
    border: 5px solid #b9e5fd;
    border-radius: 50%;
    overflow: hidden;
    z-index: 0;
}
.hero .sp_info ul li:hover{
    width: 60px;
    height: 60px;
    margin-right: 20px;
    
}
ul li {
    list-style: none;
}
li {
    letter-spacing: 0.02rem;
    font-weight: 400;
}
.hero .sp_info ul {
    display: flex;
    margin-left: 15px;
}

.hero .sp_info ul li img {
    width: 100%;
    height: 100%;
}
img {
    vertical-align: middle;
}
.addicon a img {
  transition: all 0.3s ease-in-out;
  border-radius: 8px; /* normal state (slightly rounded) */
}
.hero .sp_info ul .addicon a img {
    background-color: #4b9097;
    font-size: 25px;
    transition: all 0.3s ease-in-out;
    height: 49px;
    width: 49px;
}
.hero .sp_info ul .addicon a {
    width: 49px;
    height: 49px;
    /* display: -webkit-box;
    display: -ms-flexbox; */
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: #fff !important;
    transition: all 0.3s ease-in-out;
}
a {
    
    transition: all 0.3s ease-in-out;
    transition-behavior: normal;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
    transition-property: all;
    text-decoration: none;
    font-weight: 400;
}
.hero .sp_info ul .addicon {
    background-color: #4b9097;
    font-size: 25px;
}
.hero .sp_info h6 {
    margin: 15px 0 0 0;
    color: #4b5966;
    font-weight: 600;
    font-size: 20px;
    font-family: "Quicksand";
    letter-spacing: 0.01rem;
    display: block;
}
.hero .sp_info p {
    color: #808c8c;
    font-size: 15px;
    line-height: 28px;
    font-weight: 400;
    letter-spacing: 0.02rem;
    margin-bottom: 15px;
    margin-top: 0;
    font-family: 'Poppins',sans-serif;
}
@media (max-width: 667px){
.hero{
    height: auto;
    width: 100%;
    background-color:#eff4f7 ;
    padding-top: 60px;
    padding-bottom: 60px;
}
.hero h1 span {
    font-size: 35px;
}
 h1 .quality {
  line-height: 50px !important;
}
.sp_info{
    margin-top: 30px;
}
}
/* c-banner*/

.c_banner{
    height: auto;
    width: 100%;
    background-color: #eff4f7;
    opacity: 0;
    transform: translateY(-100px);
    transition: all 1s ease-out;
}
    .c_banner.animate {
      opacity: 1;
      transform: translateY(0);
    }
    @keyframes slideFromTop {
      0% {
        opacity: 0;
        transform: translateY(-100px);
      }
      100% {
        opacity: 1;
        transform: translateY(0);
      }
    }

    .c_11{
        overflow: hidden;
    }
.banner_img {
    border-radius: 15px;
    overflow:hidden ;
    position: relative; 
}
.banner_img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
    display: block;
    transition: transform 0.4s ease-in-out;
}
.banner_img img:hover{
    transform: scale(1.05);
}
.banner_img .btns{
    position: absolute;
    top: 20px; 
    left: 0;
    width: 100%;
    padding: 0 20px;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    z-index: 2;
    box-sizing: border-box;

}
.btns .btns1, .btns .c_wish{
    transition: all 0.3s ease-in-out;
    height: 40px;
    padding: 10px 15px;
    background: #fff;
    color: #4b9097;
    border: 1px dashed #4b9097;
    overflow: hidden;
    text-align: center;
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0.03rem;
    text-decoration: none;
    border-radius: 10px;
    position: relative;
    z-index: 2;
    
}
.btns1:hover, .c_wish:hover {
  background: #4b9097;
  color: #fff;
}
.btns .c_wish:hover {
    background: #4b9097;
    color: #fff;
}
.banner_img .banner_img_text{
    height: 60px;
    width: 50%;
    position: absolute;
    top: 70%; 
    left: 5%;
    padding: 5px 10px;
    margin: 0px ;
    display: inline-flex;
    align-items: center;
    z-index: 2;
    box-sizing: border-box;
    font-size: 22px;
    font-family: "Quicksand";
    font-weight: 700;
    line-height: 1.2;
    color: black;
    background-color: white;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 70px;
    overflow: hidden;
}
@media (max-width: 667px){
    .banner_img{
        margin-bottom: 30px;
    }
    .banner_img .banner_img_text{
        width: 80%;
        font-size: 20px;
        top: 60%; 
        left: 5%;
        opacity: 0.6;
        color: black !important;
    }
    
}
/* label line */

.label {
    padding-bottom: 30px;
    padding-top: 30px;
    background-color: #fff;
    border-bottom: 1px solid #eff0f5;
    display: flex;
    overflow: hidden;
    position: relative;
    z-index: 2;
}

@keyframes infiniteScroll {
0% {

    transform: translateX(0%);
}
100% {
    transform: translateX(-50%);
}}

.label ul {
    transition: all 0.3s ease-in-out;
    padding: 0;
    margin: 0;
    display: flex;
    animation-name: infiniteScroll;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    width: max-content;
}
.label ul li {

    transition: all 0.3s ease-in-out;
    padding-right: 100px;
    position: relative;
}
ul li {
    list-style: none;
}
li, span {
    letter-spacing: 0.02rem;
    font-weight: 400;
}
.label ul li a {
    font-size: 45px;
    color: #4b5966;
    will-change: transform;
    font-family: "Quicksand";
    transform: translateX(0);
    white-space: nowrap;
    display: flex;
    align-items: center;
    text-transform: capitalize;
}
a{
    transition: all 0.3s ease-in-out;
    text-decoration: none;
    font-weight: 400;
}
.label ul li a span {

    transition: all 0.3s ease-in-out;
    font-weight: 900;
    display: flex;
    text-shadow: 1px 1px #4b5966, -1px 1px #4b5966, 1px -1px #4b5966, -1px -1px #4b5966, 1px 1px 5px #fff;
    color: #fff;
    opacity: 0.4;
}
@media (max-width: 667px){
    .label {
    padding-bottom: 10px;
    padding-top: 10px;
}
.label ul li a{
    font-size: 30px;
}
}
/* about us */
.about_us{
    opacity: 0;
    transform: translateY(-100px);
    transition: all 1s ease-out;
}
    .about_us.animate {
      opacity: 1;
      transform: translateY(0);
    }
.a_img{
    aspect-ratio: 1 / 1;  
    width: 100%;
    overflow: hidden;
}
.a_img img {
    transition: transform 0.4s ease;
    transform-origin: center center;  /* rotate around the middle */
}
.a_img img:hover{
    transform: scale(1.05); 
}
.a_img img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.a_1, .a_2{
    padding: 40px 0 40px 0;
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 30px;
}
.a_1{
    border-bottom: 1px solid lightgray;
}
.a_1 .a_1_img, .a_2 .a_2_img{
    display: block;
    overflow:hidden;
    aspect-ratio: 1 /1 ;
    width: 20%;
    flex-shrink: 0;
    margin: 0;
}
.a_1_img img, .a_2_img img{
    height: 100% !important;
    width: 100% !important;
    object-fit: contain;
    display: block;
    background-position: center;
    border: 1px dashed green;
    box-sizing: border-box;
    padding: 15px;
    border-radius: 15px;
}
.a_1 .a_1_txt, .a_2 .a_2_txt{
    display: flex;
    flex-direction: column;
    height: 100px;
    width: 70%;
    flex: 1;
}
.about_details,.type_2 {
    font-size: 15px;
    line-height: 28px;
    font-weight: 400;
    letter-spacing: 0.02rem;
    font-family: 'Poppins',sans-serif;
    color: #808c8c;
}
.type_1{
    font-weight: 700;
    font-family: "Quicksand";
    font-size:x-large;
    color: rgba(29, 24, 24, 0.806);
    margin-bottom: 3px;
    margin-top: 0;
    line-height: 1.2;
}
.type_1 p{
    margin: 0;
    padding: 0;
}
.type_2 p{
    margin: 0;
    padding: 0;
}  

@media (max-width:667px){
    .about_details,.type_2{
        line-height: 22px;
    }
    .a_1 .a_1_img, .a_2 .a_2_img{
    aspect-ratio: 1 /1 !important;
    width: 18%;
    height: 18%;
    
    }
    .a_1, .a_2{
        padding: 35px 0;
    }
}

/* featured_top_catg */
.feautred_top_catg{
    padding-top: 50px;
    padding-bottom: 150px;
    opacity: 0;
    transform: translateY(-100px);
    transition: all 1s ease-out;

}
    .feautred_top_catg.animate {
      opacity: 1;
      transform: translateY(0);
    }

.f_container{
    height: auto;
    position: relative;
}
   .f_wrapper{
    height: auto;
    
   }

   .f_image_wrp{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    box-sizing: content-box;
    border: 5px solid #4f8c91;
    background-size: cover;
    overflow: hidden; 
    margin: 0;
    z-index: 3;
   }
   .f_image_wrp img{
    height: 100%;
    width: 100%;
    object-fit: cover;
   }
   .f_image_title{
    height: auto;
    width: 90%;
    z-index: 2;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0);
    padding-top: 70px;
    padding-bottom: 20px; 
    box-sizing: border-box;
    border-radius: 15px;
    border: 1px dashed #4f8c91;
    background-color: #f6fafb;
   }

   @media (max-width:667px){
    .feautred_top_catg{
        padding-top: 0;
        padding-bottom: 100px;
    }
    .f_image_wrp{
    height: 70px;
    width: 70px; 
    }
    .f_image_title{
    padding-top: 50px;
    padding-bottom: 10px; 
    }
   }

/* featured collection */

.fetured_collec{
    height: auto;
    width: 100%;
    padding-top: 5%;
    display: flex;
    flex-wrap: wrap;
    background-color: #f6fafb;
    opacity: 0;
    transform: translateY(-100px);
    transition: all 1s ease-out;

}
    .fetured_collec.animate {
      opacity: 1;
      transform: translateY(0);
    }

.fe_1 {
    font-size: large;
    font-weight: 600;
    color: #4a9197;
}
.fe_2 p{
    font-weight: 700;
    font-family: "Quicksand";
    font-size: xx-large;
    color: rgba(29, 24, 24, 0.806);
    margin-top: 20px;
    line-height: 1.2;
}
.fe_3 {
  height: 40px;
  background-color:#4a9197 ;
  padding: 5px 15px;
  color: white;
  font-weight: 600;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  margin-left: 0px;
}

.fe_3:hover {
  background-color: #5dd7d7;
}
.c_1 {
  border-radius: 15px;
  overflow: hidden; 
  border: 1px solid #dad6d6 ;
  padding: 0; 
  background-color: #ffffff;
}

.cb_1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    color: #4a9197;

}
.img-wrap {
  overflow: hidden; 
  border-bottom: 1px solid #ccc ;
  height: 250px;

}

.img-wrap img {
  transition: transform 0.3s ease-in-out;
  display: block;
  transform-origin: bottom center; 
  max-height: 100%;
  max-width: 100%;
  object-fit: cover; 
  transform-origin: center center !important;
  background-position: center !important;
}

.img-wrap img:hover {
  transform: scale(1.2); /* zoom in */
}
 .cb_2{
    color: #6e696d;
    font-size: small;
    font-weight: 600;
}
.c_1 .card-body{
    background-color:#f6fafb ;
}

.c_1 .card_body p {
    margin: 0;
    padding: 0;
}

.p_name{
    color: #545d62;
}
@media (max-width:667px){
    .fe_1 {
    font-size: 13px;
    font-weight: 600;
    color: #4a9197;
    }
    .fe_2 p{
        font-weight: 600;
        font-size: x-large;
        line-height: 0.7;
        
    }
    .fe_3{
        height: 30px;
        margin-top: 15px;
    }
}
/* free shipping */

.free_shipping{
    padding-top: 8%;
    padding-bottom: 8%;
    height: auto;
    width: 100%;
    background-color: white;
    overflow: hidden;
}
.fs{
    height: auto;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #dad6d6;
    padding: 25px 15px;
    border-radius: 20px;
    background-color: #f6fafb;
    overflow: hidden;
}
.fs_2{
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.fs_2 i {
    font-size: 30px;
    color: #4b9097;
}
.fs_2 p{
    font-family: "Quicksand",sans-serif;
    font-weight: 700;
    color: #545d62;
    font-size: 18px;
    word-spacing: 1.5;
}
.fs_3{
    color:#808c8c;
}
@media (max-width:667px){
    .free_shipping{
        padding-top: 16%;
        padding-bottom: 16%;
    }
    .fs_2 i{
        font-size: 25px;
    }
    .fs_2 p{
        font-size: 16px;
    }
    .fs_2{
        gap: 10px;
    }
}

/* feture collec 2 */

.featured_collec_2{
    height: auto;
    width: 100%;
    padding-top: 5%;
    padding-bottom:15% !important;
    display: flex;
    flex-wrap: wrap;
    background-color: #f6fafb;
}

.box{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f6fafb ;
    border: none;
    opacity: 0;
    transform: translateY(-100px);
    transition: all 1s ease-out;

}
    .box.animate {
      opacity: 1;
      transform: translateY(0);
    }
    @keyframes slideFromTop {
      0% {
        opacity: 0;
        transform: translateY(-100px);
      }
      100% {
        opacity: 1;
        transform: translateY(0);
      }
    }
    
.c_image{
    /* max-height: 210px; */
    /* max-width: 210px; */
    box-sizing: border-box;
    border: none;
    border-radius: 15px;
    display: block;
    z-index: 3;
    overflow: hidden;
    
}
.c_image img{
    height: 220px;
    width: 200px;
    object-fit: cover;
    background-position: center;
    box-sizing: border-box;
    border-radius: 15px;
    border: none;
}
.c_body{
    height: 250px;
    width: 100%;
    background-color: white;
    position: absolute;
    top: 35%;
    box-sizing: border-box;
    border: 1px dashed #4b9097;
    border-radius: 15px;
    z-index: 2;
    padding-top: 150px;
    overflow: hidden;
}
.list-group-item{
    background-color: inherit;
    padding: 0;
    margin: 3px;
    border: none;
}
.custm_1{
    color: #545d62;
    font-family: "Quicksand";
    font-weight: 600;
    font-size: large;
    
}
.custm_2{
    color: #808c8c;
    font-weight: 700;
    font-family: "Quicksand";
}
.c_body i {
    color: #73a8aa;
}
@media (max-width :667px){
    .row.row-cols-5 > * {
        flex: 0 0 50%;
        max-width: 50%;
    }
    .row.row-cols-5 > *:nth-child(n+3) {
    display: none;
  }
}
/* testimonial */
       @media only screen and (max-width:768px) {
        .container {
          margin-top:0px;
        }
      }

      .height {
        height: auto;
        
      }

      .card {
        border: none;
        cursor: pointer;
        box-shadow: 0 0 40px rgba(51, 51, 51, .1);
      }

      /* .card:hover {
        background-color: #eee;
      } */

      .ratings i {
        color: orange;
      }

      .testimonial-list {
        list-style: none;
        padding-left: 0;
      }

      .testimonial-list li {
        margin-bottom: 20px;
      }

      .testimonials-margin {
        margin-top: 0px;
      }
      .accordion{
        margin-top: 50px;
           
      }
      .testimonial_{
        margin-top:5%;
        margin-bottom:5%;
      }
      .t_name{
        font-family: "Quicksand",sans-serif;
        color: #3e4b57;
        font-weight: 900;
        font-size: larger;
      }
      .t_proffes{
        color: #808c8c;
      }


/* enq_frm */
      .enq_frm{
        margin-top: 5%;
        margin-bottom: 5%;
       opacity: 0;
      transform: translateY(-100px);
      transition: all 1s ease-out;

}
    .enq_frm.animate {
      opacity: 1;
      transform: translateY(0);
    }
      .op{
        display: flex;
        justify-content: center;
      }

      /* footer */



.card-custm{

    background: #4b9097;
    
}

.border-bottom {
    border-bottom: 1px solid #9e9e9e29!important;
}

.border-right {
    border-right: 1px solid #9e9e9e29!important;
}


.mr-46{

        margin-right: 44px;
}


a{

    text-decoration: none;
    color: #fff;
}


.item-list li{

    list-style: none;
    padding: 5px;
}



.dots {
  height: 50px;
  width: 50px;
  background-color: #fff;
  color: #4b9097;
  line-height: 37px;
  padding: 10px;
  border-radius: 50%;
  display: inline-block;

}

.dots i{

        font-size: 25px;
    margin-left: 5px;
}


.text-content{
    font-size: 30px;
    color: #fff;
    font-weight: 500;
}



.social-icons{

    display: inline-flex;
}


.social-icons li{

    padding: 10px;
    list-style: none;
}







.search {
     /*margin-bottom: auto;
    margin-top: auto;*/
    height: 53px;
    border:1px solid #eee;
    background-color: #4b9097;
    border-radius: 40px;
    padding: 2px;
 }

 .search_input {
     color: white;
     border: 0;
     outline: 0;
     background: none;
     width: 0;

     margin-top: 2px;
     caret-color: transparent;
     line-height: 40px;
     transition: width 0.4s linear
 }

 .search .search_input {
     padding: 0 10px;
     width: 100%;
     caret-color: red;
     transition: width 0.4s linear
     
 }

 .search:hover>.search_icon {
     background: rgb(149, 24, 24);
     color: #fff
 }

 .search_icon {
    height: 46px;
    width: 46px;
    margin-right: 2px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    color: white;
    padding: 20px;
    background-color: black;
 }

 a:link {
     text-decoration: none
 }